@import "tailwindcss";

@theme {
  /* Font */
  --font-sans: 'Cormorant Garamond Variable', serif;

  /* Colors */
  --color-background-gray: 239, 234, 246;
}

main {
  background-color: rgba(var(--color-background-gray), 0.95);
}

.container {
  margin-inline: auto;
  padding-inline: 1rem;
}
/*
@media (min-width: 1440px) {
  html {
    font-size: 1.1rem;
  }
} */
