---
const {
  quote,
  author,
} = Astro.props;
---

{quote && (
  <section class="py-20 px-4 bg-[#E4DEEF]">
    <div class="container">
      <figure class="mx-auto max-w-4xl text-center">
        <blockquote class="text-2xl md:text-[2.5rem] leading-relaxed italic tracking-wide text-[#1F1534]">
          <span class="block">“{quote}”</span>
        </blockquote>
        {author && (
          <figcaption class="mt-10 text-2xl md:text-4xl font-medium text-[#6B4FAE]">
            {author}
          </figcaption>
        )}
      </figure>
    </div>
  </section>
)}
