---
import "../styles/global.css";
import "../styles/animate.css";

import Header from "../components/Global/Header.astro";
import Footer from "../components/Global/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <Header />

      <main class="flex-grow">
        <slot />
      </main>

      <Footer />
    </div>
    <script>
      const animatedElements = document.querySelectorAll('[data-animate]');

      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add('is-visible');
            observer.unobserve(entry.target);
          }
        });
      }, {
        threshold: 0.1,
      });

      animatedElements.forEach(element => {
        observer.observe(element);
      });
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
